ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
ConnectionStrings__Default=Host=db;Port=5432;Database=app;Username=postgres;Password=postgres
Jwt__Issuer=app
Jwt__Audience=app
Jwt__Secret=change_me_change_me_change_me_32
Jwt__ExpiresInMinutes=15
